absl-py==2.3.1
altair==5.5.0
anyio==4.14.2
appnope==0.1.4
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
beautifulsoup4==4.13.4
blinker==1.9.0
cachetools==6.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.2.1
comm==0.2.2
contourpy==1.3.1
cowsay==6.1
cycler==0.12.1
debugpy==1.8.11
decorator==5.1.1
deepface==0.0.94
dm-tree==0.1.9
docstring_parser==0.16
einops==0.8.1
emoji==2.14.0
et_xmlfile==2.0.0
etils==1.12.2
executing==2.1.0
filelock==3.18.0
fire==0.7.0
Flask==3.1.1
flatbuffers==25.2.10
fonttools==4.55.3
fsspec==2025.5.1
gast==0.6.0
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.45
google-pasta==0.2.0
googleapis-common-protos==1.70.0
grpcio==1.74.0
h11==0.16.0
h5py==3.14.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
immutabledict==4.2.1
importlib_resources==6.5.2
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.31.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kagglehub==1.0.1
kagglesdk==0.1.28
keras==3.11.0
kiwisolver==1.4.8
libclang==18.1.1
lz4==4.4.4
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
ml_dtypes==0.5.3
mtcnn==1.0.0
namex==0.1.0
narwhals==2.3.0
nbmerge==0.0.4
nest-asyncio==1.6.0
numpy==2.2.6
opencv-python==4.12.0.88
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.17.0
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
promise==2.3
prompt_toolkit==3.0.48
protobuf==6.31.1
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==20.0.0
pydeck==0.9.1
Pygments==2.19.1
pyparsing==3.2.1
PySocks==1.7.1
pytest==8.3.4
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.3
pyzmq==26.2.0
rarfile==4.2
referencing==0.36.2
requests==2.31.0
retina-face==0.0.17
rich==14.1.0
rpds-py==0.27.1
seaborn==0.13.2
selenium==4.13.0
setuptools==80.9.0
simple-parsing==0.1.7
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
stack-data==0.6.3
streamlit==1.49.1
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0rc0
tensorflow-datasets==4.9.9
tensorflow-metadata==1.17.2
termcolor==3.1.0
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.32.0
trio-websocket==0.12.2
typing_extensions==4.14.1
tzdata==2024.2
urllib3==2.2.3
wcwidth==0.2.13
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
wsproto==1.2.0
zipp==3.23.0
